<ul class="list-group">
    <% interviews.each do |interview| %>
    <li class="list-group-item">
        <% if edit_interview && interview.id == edit_interview.id %>
            <%= form_tag(interview_path, method: :put ) do %>
                <div class="form-group">
                    <% if edit_interview.errors[:title].any? %><p id="error-message"><%= edit_interview.errors[:title][0] %></p><% end %>
                    <label>Title </label><br />
                    <%= text_field_tag :title, edit_interview.title %>
                </div>

                 <div class="form-group">
                    <label>Select date for the interview </label><br />
                    <%= date_field_tag :date, edit_interview.starttime.strftime("%Y-%m-%d") %>
                </div>

                <div class="form-group">
                    <% if edit_interview.errors[:starttime].any? %><p id="error-message"><%= edit_interview.errors[:starttime][0] %></p><% end %>
                    <label>Select start time for the interview </label><br />
                    <%= time_field_tag :starttime, edit_interview.starttime.strftime("%H:%M"), :ignore_date => true %>
                </div>

                <div class="form-group">
                    <% if edit_interview.errors[:endtime].any? %><p id="error-message"><%= edit_interview.errors[:endtime][0] %></p><% end %>
                    <label>Select end time for the interview </label><br />
                    <%= time_field_tag :endtime, edit_interview.endtime.strftime("%H:%M"), :ignore_date => true %>
                </div>
                

                <div class="form-group">
                    <% if edit_interview.errors[:participants].any? %><p id="error-message"><%= edit_interview.errors[:participants][0] %></p><% end %>
                    <label> Add Participants</label><br />
                    <select class="custom-select form-control" name="participants[]" multiple>
                        <%= User.all.each do |participant| %>
                        <option value="<%= participant.id %>"><%= participant.firstname.concat(" ").concat(participant.lastname) %></option>
                        <% end %>
                    </select>
                    <small id="optionHelp" class="form-text text-muted">Hold ctrl Key to add multiple participants</small>
                </div>
                <%= submit_tag "Schedule" , class: "btn btn-primary" %>
            <% end %>

        <% else %>
        <% if interview.interviewer_id == current_user.id %>
            <%= link_to  "Edit", edit_interview_path(interview.id, month: details[:month], year: details[:year], day: interview.starttime.day ),  style: "float:right" %>
        <% end %>
        <%= link_to  "Back", interviews_path(month: details[:month], year: details[:year]) %>
        <h4 class="text-center"><%= interview.title %></h4>
        <h5 class="text-muted"><%= interview.starttime.to_formatted_s(:long_ordinal) %> | <%= interview.endtime.to_formatted_s(:long_ordinal) %></h5> 
        <h5> Organizer - <%= User.find(interview.interviewer_id).firstname %> </h5>
        <h5> Participants </h5>
        <ul class="list-inline">
            <% interview.participants.each do |participant| %>
            <li class="text-muted"><%= participant.firstname + " " + participant.lastname %></li>
            <% end %>
        </ul>
        <h5> Resumes </h5>
        <% if interview.resumes.attached? %>
            <% interview.resumes.each do |resume| %>
                <%= link_to "resume#{(0...8).map { (65 + rand(26)).chr }.join}", rails_blob_path(resume, disposition: 'preview') %><br />
            <% end %>
        <% end %>
        <br/>
        <% if interview.interviewer_id == current_user.id %>
            <%= link_to  "Delete", interview_path(interview.id, month: details[:month], year: details[:year], day: interview.starttime.day ), method: :delete %>
        <% end %>
        <% end %>
    </li>
    <% end %>
</ul>

