<!DOCTYPE html>
<html>

<head>
    <title>Scheduler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= yield %>
    <script type="text/javascript">
        $(document).on("click", "#openModal", function() {
            $("#myModal #day").val($(this).siblings('#day').text())
            $("#myModal #month").val($('#month').text())
            $("#myModal #year").val($("#year").text())
        });
    </script>
</body>
</html>