<!DOCTYPE html>
<html>
<head>
    <title>Scheduler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Scheduler</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Interviews</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <% if logged_in? %>
                <li><%= link_to "LOGOUT", session_path(current_user), method: :delete ,class: "active"%></li>
                <% end %>
            </ul>
        </div>
    </nav>

    <%= yield %>

    <script type="text/javascript">
        $(document).on("click", "#openModal", function() {
            $("#myModal #day").val($(this).siblings('#day').text())
            $("#myModal #month").val($('#monthspan').text())
            $("#myModal #year").val($("#yearspan").text())
        });

        $('#submit').click(function() {
            var month = parseInt($('#month').val());
            var year = parseInt($('#year').val());
            if (isNaN(month) || isNaN(year)) {
                $('#error-message').text("only numeric values are allowed")
                return false;
            } else if (month > 12 || month < 1) {
                $('#error-message').text("please enter a valid month number")
                return false;
            } else if (year > 2050 || year < 1900) {
                $('#error-message').text("please enter a valid year number")
                return false;
            }
            $('#indexform').submit();
        });
    </script>
</body>

</html>